######################################
## Launch Script Configuration File ##
######################################

# Below is a list of variables, these will get read by the satellaviewplush shell script and acted upon accordingly.

# // EMULATOR // #
# The location of the emulator used to launch BS-X
# Default: ./SNES9x.appimage
# For dummies:
# The default is ./SNES9x.appimage, the ./ in this case is telling the terminal to look for a file in the current directory.
# Think of it as a relative location rather than absolute.
# You can still use absolute locations, just remember to use quotes if the location contains spaces.

EMULATOR: ./SNES9x.appimage
